.bottom-navigation {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    color: white;
    z-index: 5000;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation-block {
    color: black;
    font-size: 18px;
    font-weight: 400;
}