.boost-balance {
}

.line-upgrade {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 3px;
    height: 20px;
    background-color: #09374B;
    border-radius: 4px;
}

.boost-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.boost-item-default {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    opacity: 0.7;
}

.boost-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.boost-watch {
    display: flex;
    max-width: 160px;
    max-height: 160px;
}

.boost-image {
    width: 100%;
}

.boost-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.boost-name {
    font-size: 24px;
    font-weight: 800;
}

.boost-level {
    color: #24282A;
}

.boost-mined {
    font-size: 16px;
    font-weight: 200;
    color: gray;
}

.boost-price {
    font-size: 24px;
    font-weight: 800;
    color: #151A31;
}

.boost-action {
    text-align: center;
}

.boost-upgrade {
    background: #151A31;
    font-size: 16px;
    font-weight: 600;
    color: black;
    height: 42px;
    padding: 0 18px;
    color: white;
    border-radius: 40px;
}

.boost-closed {
    opacity: 0.5;
}