.balance {
    color: white;
    font-size: 50px;
    font-weight: 900;
    line-height: 32px;
}

.title-block {
    color: #F8FBFE;
    font-size: 16px;
    font-weight: 300;
}

.total-balance {
    padding: 15px 0;
}

.general-token {
    padding: 12px 20px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 30px;
}

.info-mine-count {
    font-size: 14px;
    color: #207CFA;
}

.set-mining {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 300;
    color: white;
}

#counter {
    color: white;
}

.prm-set {
    color: white;
}

.token-title {
    color: #F8FBFE;
    font-size: 16px;
    font-weight: 300;
}

.token {
    font-size: 36px;
    font-weight: 900;
}

.watch-machine {
    display: flex;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}

.img-comp {
    width: 100%;
    border-radius: 20px;
}

.actions-mining {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.claim-coins-btn {
    background-color: #151A31;
    height: 36px;
    padding: 0 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.collecting-now {
    opacity: 0;
    animation: fadeInOut 2s ease infinite; /* Примерно каждые 2 секунды */
    background-color: transparent;
    color: #38C552;
}


@keyframes fadeInOut {
  0%, 100% { opacity: 0; } /* Начало и конец - нулевая прозрачность */
  50% { opacity: 1; } /* Половина времени - максимальная прозрачность */
}


