.balance {
    color: white;
    font-size: 50px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}

.title-ol {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 300;
}

.total-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 15px 0;
}

.general-token {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.info-miner {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.set-mining {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 300;
    color: white;
}

#counter {
    color: white;
}

.prm-set {
    color: white;
}

.token {
    font-size: 42px;
    font-weight: 600;
}

.watch-machine {
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}

.img-comp {
    width: 100%;
    position: relative;
    animation: moveUpDownCapsuleHome 1.4s infinite alternate;
    z-index: 100;
}


@keyframes moveUpDownCapsuleHome {
    0% {
      top: -5px; /* Начальная позиция (вверх) */
    }
    100% {
        top: 5px; /* Конечная позиция (вниз) */
    }
  }

.actions-mining {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.collecting-now {
    font-weight: 300;
    opacity: 0;
    animation: fadeInOut 2s ease infinite; /* Примерно каждые 2 секунды */
    background-color: transparent;
    color: #38C552;
}


@keyframes fadeInOut {
  0%, 100% { opacity: 0; } /* Начало и конец - нулевая прозрачность */
  50% { opacity: 1; } /* Половина времени - максимальная прозрачность */
}