
.animated-button {
  position: relative;
  overflow: hidden;
  border: 2px solid transparent; /* Скрываем исходную границу */
  background-color: transparent;
  color: #3498db;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: -2px; /* Смещаем на 2px вверх, чтобы полоска находилась внутри границы кнопки */
  left: -2px; /* Смещаем на 2px влево, чтобы полоска находилась внутри границы кнопки */
  width: calc(100% + 4px); /* Учитываем смещения внутри границы */
  height: calc(100% + 4px); /* Учитываем смещения внутри границы */
  border: 2px solid #3498db; /* Задаем цвет и толщину полоски */
  border-radius: 50%;
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    border-image-source: linear-gradient(to right, transparent 50%, #3498db 50%);
    border-image-slice: 1;
    transform: rotate(0deg);
  }
  25% {
    border-image-source: linear-gradient(to bottom, transparent 50%, #3498db 50%);
    border-image-slice: 1;
    transform: rotate(90deg);
  }
  50% {
    border-image-source: linear-gradient(to left, transparent 50%, #3498db 50%);
    border-image-slice: 1;
    transform: rotate(180deg);
  }
  75% {
    border-image-source: linear-gradient(to top, transparent 50%, #3498db 50%);
    border-image-slice: 1;
    transform: rotate(270deg);
  }
  100% {
    border-image-source: linear-gradient(to right, transparent 50%, #3498db 50%);
    border-image-slice: 1;
    transform: rotate(360deg);
  }
}


