.task-list {
    padding: 20px 25px;
    display: flex;
flex-direction: column;
gap: 30px;
}

.task-list > a:active {
    background-color: transparent;
}

.task {
    padding: 22px 25px;
    display: flex;
    gap: 30px;
    border-radius: 28px;
    border: 1px solid #E7E7E7;
}

   .task:nth-child(3n) {
       opacity: 0.3;
    }

.task-watch-image {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
}

.task-img {
    width: 100%;
}

.task-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-name {
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 500;
}

.task-rewards {
    font-size: 26px;
    font-weight: 800;
}