:root {
    --default-button-color: #207CFA;
    --default-button-background-color: #151A31;
    --title-color: #B1B1B1;
}

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; // Фон при нажатии кнопки transparent
}

.content {
    padding: 0 30px;
    padding-top: 20px;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
    margin-top: 64px; /* учитывает высоту header */
    margin-bottom: 60px; /* учитывает высоту bottom-navigation */
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* buttons */
.default-button {
    font-size: 16px;
    font-weight: 500;
    color: var(--default-button-color);
    background-color: var(--default-button-background-color);
    height: 36px;
    padding: 0 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
/* end buttons */

.title-page {
    font-size: 36px;
    font-weight: 800;
    margin: 10px 0;
    text-align: center;
}

.tab-buttons {
    padding: 0 25px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: spase-around;
    align-items: center;
    gap: 30px;
}

.tab-button {
    font-size: 20px;
    font-weight: 700;
    color: #2F2F2F;
    padding: 0;
    height: 42px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    border-bottom: 3px solid transparent;
}

.tab-button.active {
    color: var(--default-button-color);
    border-bottom: 3px solid var(--default-button-color);
}

.active {
    color: var(--default-button-color);
}