:root {
  --tg-theme-bg-color: var(--tg-theme-bg-color, #FFFFFF); /* Значение по умолчанию #FFFFFF */
  --tg-theme-secondary-bg-color: var(--tg-theme-secondary-bg-color, #FFFFFF); /* Значение по умолчанию #F2F3F5 */
}

.bg-color {
  background-color: var(--tg-theme-bg-color);
}

.secondary-bg-color {
  background-color: var(--tg-theme-secondary-bg-color);
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; // Фон при нажатии кнопки transparent
}

.content {
    padding: 0 30px;
    max-width: 1024px;
    width: 100%;
    height: 100%;
}

.title-page {
    font-size: 36px;
    font-weight: 800;
    margin: 10px 0;
    text-align: center;
}

.tab-buttons {
    padding: 0 25px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.tab-button {
    height: 42px;
    padding: 0 14px;
    width: 100%;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.active {
}

.tab-content {
}